<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfirstapp.luckybankonlinesystem">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <!--suppress AndroidElementNotAllowed -->


        <activity android:name=".LoginActivity">
            <intent-filter>
                <!--suppress AndroidElementNotAllowed -->
                <action android:name="android.intent.action.MAIN" />

                <!--suppress AndroidElementNotAllowed -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            tools:ignore="MissingClass" />
    </application>

</manifest>